body,html{
    margin:0;
    height: 100%;
    min-height: 100vh;
}
main{
    height:100%;
   
    
}
table{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-collapse: collapse;
}
td{
    border-style: solid;
    border-width: 1px;
    width:14%
}
tr{
    
    height:4%
    
}
.hourtitle{
    width:2%
}
#submitbutton{
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 3;
    top:90%;
    right:4%
}
#button{
    height:50px;
    width:50px;
    border-radius: 50%;
    background-color:#1a73e8;
    color:white
}