body,html{
    margin:0;
    height: 100%;
    min-height: 100vh;
    background-image: url(./horloge.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}
main{
    height:100%;
    display: flex;
    justify-content: center;
   
    
}
table{
    width: 95%;
    height: 95%;
    position: absolute;
    z-index: 1;
    border-collapse: collapse;
}
th{
    font-size: 15px;
    color:#1a73e8;
    
}
td{
    border-style: dotted;
    border-color: lightgray;
    border-width: 1px;
    width:14%;
    vertical-align: top;
    padding-top: 0.5%;
    color: white;
}
tr{
    
    height:3%
    
}
.hourtitle{
    width:3%;
    padding-right: 1%;
}
#formsubmitbutton{
    display: flex;
    justify-content: end;
    position: absolute;
    z-index: 3;
    top:90%;
    right:4%
}
#button{
    height:50px;
    width:50px;
    border-radius: 50%;
    background-color:#1a73e8;
    color:white
}
#journeeentiere{
    height:10px;
    max-height:10px;
    line-height: 0px;
    
}
.perso{
    background-color:lightcoral;
    border-radius: 10px;
    text-align: center;

}
.pro{
    background-color: lightsalmon;
    border-radius: 10px;
    text-align: center;
}
.proimportant{
    background-color: salmon;
    border-radius: 10px;
    text-align: center;
}
.persoimportant{
    background-color:coral;
    border-radius: 10px;
    text-align: center;
}
#ajoutevent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:60%;
    width:50%;
    border-radius: 100px;
    background-color: rgb(26,115,232,0.5);
}
#formajout{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
    color:white
}
.forminput{
	width:30%;
	margin-top: 1%;
    height:20px;
    border-radius:100px;
    padding-left: 0.5%;
    text-align: center;

}
.formlabel{
    text-align: center;
    margin-top: 1%;
}
#submitbutton{
    margin-top:1%;
    border-radius: 100px;
    width:25%;
    height:25px;
    color:white;
    background-color: #1a73e8;
}